@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <span class="text-danger error-message-display">@ErrorMessage</span>
}

@if (!string.IsNullOrEmpty(FormSummaryId) && FormSummaryErrors?.Count > 0)
{
    <ul class="alert alert-danger">
        @foreach (string errorMessage in FormSummaryErrors)
        {
            <li>@errorMessage</li>
        }
    </ul>
}