@inherits LayoutComponentBase

<div class="auth-layout">
    @Body
</div>

<style>
    .auth-layout {}

    body {
        margin: 0;
        padding: 0;
        @* background: url('../../images/notifications/Background_1.jpg') no-repeat center center fixed;
        background-size: cover; *@
    }
</style>