@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        <a href="/">Home</a>
        <a href="javascript:void(0)" @onclick="LogoutAsync">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </NotAuthorized>
</AuthorizeView>